{% extends 'back/index.html.twig' %}

{% block title %}Hello RecetteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <main>

        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-between mb-3">  <button class="tox-button--icon"><a href="{{ path('ajouter') }}">ajouter une Recette</a></button> </div>
            <div class="d-flex justify-content-between mb-3">  <button class="tox-button--icon"><a href="{{ path('ir') }}">imprimer une Recette</a></button> </div>
            <div class="row g-2">
                {%  for r in recette %}
                    <div class="col-md-3">
                        <div class="card p-2 py-3 text-center">
                                <div class="img mb-2">


                            </div>
                            <h5 class="mb-0">{{r.getNomRecette()}}</h5> <small>{{ r.getDescriptionRecette()}}</small><h5 class="mb-0">{{r.getCategorieRecette()}}</h5> <small>{{ r.getDureeRecette()}}</small>
                            <div class="mt-4 apointment">
                                <button class="btn btn-success text-uppercase" > <a href="{{ path('supp',{'id':r.getIdRecette()})}}">Delete </a></button>
                                <button class="btn btn-success text-uppercase" ><a href="{{ path('update', {'id': r.getIdRecette()}) }}">edit</a></button>

                            </div>
                        </div>

                    </div>
                {% endfor %}


            </div>
    </main>
</div>
    </div>
{% endblock %}

