{% extends 'base.html.twig' %}

{% block title %}KoolMatch{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1000px; width: 100%; font: 25px/0.9 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="container">
            <div class="row">
                <div></div>
                <img id="postcard" src="{{ asset ('front/assets/img/logo.png') }}" alt="postcard" class="img-responsive move">
                <div id="content" >
                    <h1> KoolMatch </h1>

                    {{ form_start(forms,{'attr': {novalidate: 'novalidate'}} ) }}
 {{ form_errors(forms.nomResto) }}
        {{ form_label(forms.nomResto,"Nom Restaurant") }}
        {{ form_widget(forms.nomResto) }}

        {{ form_errors(forms.adresse) }}
        {{ form_label(forms.adresse,"Adresse Reservation") }}
        {{ form_widget(forms.adresse,{'attr':{'class':'form-danger'}})}}

        {{ form_errors(forms.nbplaceReservation) }}
        {{ form_label(forms.nbplaceReservation,"Number de place") }}
        {{ form_widget(forms.nbplaceReservation) }}

        {{ form_errors(forms.dateReservation) }}
        {{ form_label(forms.dateReservation,"Date Reservation") }}
        {{ form_widget(forms.dateReservation)}}


       
                    {{ form_end(forms) }}
                </div>
            </div>
            
        </div>
</div>
{% endblock %}

