{% extends 'base.html.twig' %}

{% block title %}detail{% endblock %}

{% block body %}
 <!--font awesome bootstrap CDN-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="style.css">

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="card1">
    <div class="image">
      <img style="width:400px ; height:200px" src="{{asset(detailE.image)}}"></img>
    </div>
    <div class="details">
      <div class="center">
        <h1>Meilleur resto<br></h1>
        
      </div>
    </div>
  </div>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='horizon'>
  <div class='glow'></div>
</div>
<div id='earth'></div>
<div id='title'>
  {{detailE.nomRestaurant}}
</div>
<div id='subtitle'>
  <span>
  Specialité:{{detailE.specialiteRestaurant}}
  </span>
  <span>
    Adresse :{{detailE.adresseRestaurant}}
  </span>
  <span>
    Telephone :{{detailE.telephoneRestaurant}}
  </span>
  <div class="foorm">

                                        {{ form_start(forms,{'attr': {novalidate: 'novalidate'}} ) }}
                           
                            {{ form_errors(forms.nbplaceReservation) }}
                            {{ form_label(forms.nbplaceReservation,"Number de place") }}
                            {{ form_widget(forms.nbplaceReservation) }}

                            {{ form_errors(forms.dateReservation) }}
                            {{ form_label(forms.dateReservation,"Date Reservation") }}
                            {{ form_widget(forms.dateReservation)}}
                           
                            

                        
                                        {{ form_end(forms) }}

</div>
</div>

{% endblock %}