{% extends 'base.html.twig' %}

{% block title %}Leftover{% endblock %}

{% block body %}

<div class="container">
    <div class="col-md-12 col-lg-12">
        <article class="post vt-post">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                    <div class="post-type post-img">
                        <a href="#"><img src="{{asset(detailE.image)}}" class="img-responsive" alt="image post"></a>
                    </div>
                    <div class="author-info author-info-2">
                        <ul class="list-inline">
                            <li>
                                <div class="info">
                                    <p>Nom restaurant:
                                    <strong>{{detailE.nomRestaurant}}</strong></p></div>
                                     <br>
                        <p>Address :<strong>{{detailE.adresseRestaurant}}</strong> </p>
                            </li>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                   
                    <div class="example-wrapper">
   
                <img id="postcard" src="{{ asset ('front/assets/img/logo.png') }}" alt="postcard" class="img-responsive move">
          <div>     
                    <h1> KoolMatch </h1>

                                        {{ form_start(forms,{'attr': {novalidate: 'novalidate'}} ) }}
                           
                            {{ form_errors(forms.nbplaceReservation) }}
                            {{ form_label(forms.nbplaceReservation,"Number de place") }}
                            {{ form_widget(forms.nbplaceReservation) }}

                            {{ form_errors(forms.dateReservation) }}
                            {{ form_label(forms.dateReservation,"Date Reservation") }}
                            {{ form_widget(forms.dateReservation)}}
                           
                            

                        
                                        {{ form_end(forms) }}
                                
            </div>
            
                </div>

        </div>
</div>
            </div>
        </article>
        
        
       
       
    
    </div>
</div>
<div class="example-wrapper">
{% endblock %}