{% extends 'base.html.twig' %}

{% block title %}detail{% endblock %}

{% block body %}
 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>RESTAURANT DETAILS</h5>
                <p class="mb-0">{{detailE.description}}</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Nom restaurant:</b> {{detailE.nomRestaurant}}</p>
                <p><b>Numéro de téléphone:</b>{{detailE.telephoneRestaurant}}</p>
                <p><b>Adresse:</b>{{detailE.adresseRestaurant}}</p>
                <p><b>specialite:</b> {{detailE.specialiteRestaurant}}S</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box mt-0 mb-0">
                <p class="mb-0">
                    <span class="fw-bold mr-10 va-middle hide-mobile">Share:</span>
                    <a href="#x" class="btn btn-xs btn-facebook btn-circle btn-icon mr-5 mb-0"><i class="fab fa-facebook-f"></i></a>
                    <a href="#x" class="btn btn-xs btn-twitter btn-circle btn-icon mr-5 mb-0"><i class="fab fa-twitter"></i></a>
                    <a href="#x" class="btn btn-xs btn-pinterest btn-circle btn-icon mr-5 mb-0"><i class="fab fa-pinterest"></i></a>
                    <a href="#x" class="btn btn-xs btn-linkedin btn-circle btn-icon mr-5 mb-0"><i class="fab fa-linkedin-in"></i></a>
                </p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->

        <div class="col-md-7">
            <img src="{{asset(detailE.image)}}" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Categories:</b> Design, Illustration</p>
                <p><b>Skills:</b><a href="/detail_resto/{{detailE.idRestaurant}}">Reservation</a></p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>
{% endblock %}