{% extends 'back/index.html.twig' %}

{% block title %}Backend KOOLMATCH{% endblock %}

{% block body %}

    <div class="pagetitle">
        <h1>Modifier Interaction</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_back') }}">Home</a></li>
                <li class="breadcrumb-item">Gestion Matching</li>
                <li class="breadcrumb-item active">Interaction</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->



    {{form_start(formInteraction,{'attr':{'class':'form-horizontal'}})}}
    <h1> Modifier la Date d'interactions </h1>


    {{ form_errors(formInteraction.dateInteraction) }}
    {{ form_label(formInteraction.dateInteraction,"Date d'interactions") }}
    {{ form_widget(formInteraction.dateInteraction) }}






    {{ form_end(formInteraction) }}


{% endblock %}